body{
    margin-top: 15px;
    background-color: whitesmoke;
}
.main{
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    background-color: green;
    overflow: hidden;
}
.topbar a{
    float: right;
    color: aquamarine;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}
.sidebar{
    background-color: hwb(190 11% 35%);
    color: whitesmoke;
    height: 100%;
}
.sidebar a{
    margin-right: 10px;
    display: block;
    color: whitesmoke;
    font-size: 30px;
    text-decoration: none;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;

}
.contain{
    background-color: whitesmoke;

}